div.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

div.scrollable .scrollable-item {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  filter: brightness(50%);
}

div.scrollable::-webkit-scrollbar {
  height: 5px;
}

/* Handle */
div.scrollable::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}

.text-image {
  position: absolute !important;
  display: inline-block;
  top: 42%;
  right: 12%;
  left: 12%;
  color: white;
  text-transform: uppercase;
  white-space: normal;
  vertical-align: middle;
  height: auto;
}

.round-img {
  transition: opacity ease-in-out;
}

.round-img:hover {
  opacity: 0.5;
}

.my-feed-main {
  text-align: center;
}

.my-feed-main h1,
h2 {
  margin: 30px 10px;
}

.img-detailed {
  width: 480px;
  height: 480px;
  background-size: cover;
  border-radius: 10px;
}
